<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<th scope="col" th:fragment="sort_header (header, column)">[[${header}]]
    <a th:href="@{/product(page=${num}, size=${products.size},
                        titleFilter=${param.titleFilter}, min=${param.min}, max=${param.max},
                        sortField=${column}, sortOrder=${param.sortField != null && param.sortOrder != null && param.sortField[0] == column && param.sortOrder[0] == 'ASC' ? 'DESC' : 'ASC'}
                        )}">
        <i th:unless="${param.sortField != null && param.sortOrder != null && param.sortField[0] == column}" class="fa fa-sort"></i>
        <i th:if="${param.sortField != null && param.sortOrder != null && param.sortField[0] == column}" th:class="'fa fa-sort-' + ${param.sortField[0] == column && param.sortOrder[0] == 'ASC' ? 'down' : 'up'}"></i>
    </a>
</th>

</html>