<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-outline-dark" th:href="@{/user/new}">ADD</a>
        </div>


        <table class="table table-bordered my-2">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Login</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.id}">1</th>
                <td th:text="${user.login}">User login</td>
                <td>
                    <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i
                            class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" th:href="@{/user/delete/{id}(id = ${user.id})}">
                        <i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"/>
</body>
</html>